<!--ユーザー投稿写真一覧表示-->
<div class='image-main'>
<div class="user-post">
個人投稿写真
</div>
<div class='image-up'>
<ul class='cafe-list'>
<% @user.each do |user| %>
<li class='cafe-item'>
<%= user.cafe.drink_name %>
<div class='cafe-img-content'>
<%= link_to user_path(user.id), method: :get do %>
<% if current_user.id == cafe.user.id %>
 <% user.images.each do |image| %>
      <%= image_tag image, class:'images-index' %>
      <% end %>
<% end %>
</div>
<% end %>
<% end %>
</li>
</ul>
</div>
</div>