 <!--サインイン時のトップページ-->
<div class="login-main">
<div class="post-cafe">
 <%= link_to(new_cafe_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'cafe-icon.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
</div>