<div class="like-index">
<% @results.each do |cafe| %>
<%= cafe.drink_name %>
<%= link_to cafe_path(cafe.id), method: :get do %>
  <% cafe.images.each do |image| %>
     <%= image_tag image, class:'images' %>
  <% end %>
<% end %>
<% end %>
</div>
<%=link_to "戻る", root_path, class:"back-btn" %>