<div class="like-index">
<% @results.each do |cafe| %>
<%= cafe.drink_name %>
<%= link_to cafe_path(cafe.id), method: :get do %>
<%= image_tag(cafe.image, class:'cafe-img-box')%>
<% end %>
<% end %>
</div>
<%=link_to "戻る", root_path, class:"back-btn" %>