/*ログアウト時のトップページCSS*/
.cafe-main{
	height: 100vh;
	width: 100vw;
}

.backimage{	
  position: absolute;
	top: -80px;
	bottom: -60px;
	width: 100%;
	height: auto;
	background-image:url("coffee.jpeg");
	background-size:cover;
	z-index: 1;
}

.logo{
	position: absolute;
	top: 100px;
	left: 200px;
	z-index: 2;
	color: white;
	font-size: 100px;
	font-family: fantasy;
}

.main-top{
	position: absolute;
	right: 200px;
	bottom: 250px;
	height: 45%;
	width: 20%;
}

.main-login{
	font-size: 40px;
	color: white;
  margin-top: 50%;
	text-decoration: none;
}

.main-signup{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.main-bottom{
	top:400px;
	height: 100%;
	width: 100%;
}

.intro {
	position: absolute;
	top: 350px;
	left: 800px;
	height: 40%;
	padding: 35px;
	width: 30%;
	color: black;
	font-size: 20px;
	z-index: 3;
	background-color:rgba(255, 255, 255, 0.767);
}
/*ログイン時のトップページCSS*/
.login-main{
	height: 100vh;
	width: 100vw;
}


.purchase-btn {
  width: 120px;
  background: white;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
	border:1px solid black;
}

.purchase-btn-text {
  color: black;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

/*投稿ユーザーの写真一覧*/
.image-main{
	border: 1px solid black;
}

.image-up{
	display:flex;
	margin-top: 20px;
	overflow-x: auto;
   white-space: nowrap;

}

.cafe-img {
  width: 33vh;
  height: 33vh;
	margin-left: 20px;
}

.cafe-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
	align-items: flex-end;
}

.user-post{
	color: black;
}

/*全体一覧表示*/
.image-likes{
	display:flex;
	align-items: center;
	justify-content:space-around;
	flex-direction: column;
}

.cafe-main-item{
  text-align: center;
  overflow-y: scroll;
  width: auto;
  height: 70vh;
}

.shin-list{
	color :black;
	font-size:30px;
}

.main-list{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.cafe-main-image{
	width: 50%;
	height: 50%;
}

.cafe-drink-name{
	font-size: 15px;
}
.cafe-topbtn{
	text-decoration: none;
}

/*ヘッダーログイン時*/
.rogin-main-top{
	display:flex;
	justify-content:flex-end;
	margin: 10px;
}

.logout{
	font-size: 20px;
	text-decoration: none;
	margin: 5px;
}

.user-nickname{
	font-size: 25px;
	text-decoration: none;

	margin: 5px;
}

/*いいね総数ボタン*/
.cafe-favorite{
   display:inline-flex;
}

.favorite{
	font-size:20px;
	text-decoration: none;
	margin: 5px;
}

/*検索機能*/
.checkbox-list{
	color:black;
}

.search-form {
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 40%;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 20%;
}

.back-img{
	width: auto;
	height: auto;
	background-image: url(kissa.jpeg);
	background-size: cover;
}

.grad-index{
	width: auto;
	height: auto;
	background-color: rgba(204, 171, 144, 0.521);
}