/*ログアウト時のトップページCSS*/
.cafe-main{
	height: 100vh;
	width: 100vw;
}

.backimage{	
  position: absolute;
	top: -80px;
	bottom: -60px;
	width: 100%;
	height: auto;
	background-image:image-url("coffee.jpeg");
	background-size:cover;
	z-index: 1;
}

.logo{
	position: absolute;
	top: 100px;
	left: 200px;
	z-index: 2;
	color: white;
	font-size: 100px;
	font-family: fantasy;
}

.main-top{
	position: absolute;
	right: 200px;
	bottom: 250px;
	height: 45%;
	width: 20%;
}

.main-login{
	font-size: 40px;
	color: white;
  margin-top: 50%;
	text-decoration: none;
}

.main-signup{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.main-bottom{
	top:400px;
	height: 100%;
	width: 100%;
}

.intro {
	position: absolute;
	top: 350px;
	left: 800px;
	height: 40%;
	padding: 35px;
	width: 30%;
	color: black;
	font-size: 20px;
	z-index: 3;
	background-color:rgba(255, 255, 255, 0.767);
}
/*ログイン時のトップページCSS*/
.login-main{
	height: 100vh;
	width: 100vw;
}

/*投稿ユーザーの写真一覧*/
.image-main{
	width: auto;
	height: auto;
	margin: 10px 0 0 0;
	justify-content:center;
	flex-direction: column;
	overflow-y: scroll;
}

.image-up{
	margin-top: 20px;
	overflow: auto;
	height: 35vh;
}

.cafe-img-content{
	display:inline-flex;
	width: 20vw;
	overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.img-index-list{
	display:inline-flex;
  
}

.cafe-img {
  width: 20vw;
  height: 30vh;
  display: inline-flex;
}

.cafe-list{
	width: 30vw;
	height: 30vh;
	display: inline-flex;
	white-space: nowrap;
}

.cafe-item{
	font-size: 20px;
	margin-left: 20px;
}

.user-post{
	color: white;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

/*全体一覧表示*/
.image-likes{
	display:flex;
	align-items: center;
	justify-content:space-around;
	flex-direction: column;
}

.images-index{
	height: 50%;
  display: inline-flex;
  flex-direction: column;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.cafe-main-item{
  text-align: center;
  overflow-y: scroll;
  width: auto;
  height: 70vh;
}

.shin-list{
	color :white;
  font-size: 30px;
}

.cafe-shin-list{
	margin: 10px;
	width: 50vw;
	height: auto;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .6s;
	padding: 10px;
}

.cafe-shin-list:hover {
	box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-7px);
}

.cafe-images-list{
  width: 30vw;
  height: auto;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin:auto;
}

.main-list{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.cafe-main-image{
	width: 50%;
	height: 50%;
}

.cafe-drink-name{
	font-size: 15px;
	color: white;
}
.cafe-topbtn{
	text-decoration: none;
}
.images{
	display:inline-flex;
	margin-right: 10px;
	width: 50vw;
	height: 50vh;
}

/*ヘッダーログイン時*/
.login-main-top{
	display:flex;
	justify-content:flex-end;
	padding: 10px;
}

.logout{
	font-size: 15px;
	text-decoration: none;
	margin: 6px;
	color: white;
}

.logout:hover{
	text-decoration: underline;
}

.user-nickname{
	font-size: 20px;
	text-decoration: none;
	margin: 6px;
	color: white;
}

.user-nickname:hover{
	text-decoration: underline;
}

.cafe-btn {
	font-size: 15px;
	text-decoration: none;
	margin: 6px 10px;
	color: white;
}

.cafe-btn:hover{
	text-decoration: underline;
}

/*いいね総数ボタン*/
.cafe-favorite{
   display:flex;
	 justify-content:space-around;
	 width: 30%;
	 margin-left: 20px;
	 margin-right: 20px;
}

.favorite{
	font-size:15px;
	margin: 6px;
	color: white;
	text-decoration: none;
}

.favorite:hover{
	text-decoration: underline;
}

/*いいねしたもの*/
.like-user{
	font-size: 15px;
	margin: 6px;color: white;
	text-decoration: none;
}

.like-user:hover{
	text-decoration: underline;
}

/*検索機能*/
.checkbox-list{
	color:white;
	cursor:pointer;
  position: absolute;
	margin-top: 10px;
	left: 85%;
	text-align: center;
}

#lists{
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	}
	
	#lists:hover{
	text-decoration: underline;
	}

	.cafe-index-checkbox{
		display: none;
	}

	.index-check-wifi{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-wifi.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-wifi:hover{
		background-color: #E2EDF9;
	}

	.index-check-oshare{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-oshare.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-oshare:hover{
		background-color: #E2EDF9;
	}
	
	.index-check-shizuka{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-shizuka.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-shizuka:hover{
		background-color: #E2EDF9;
	}

	.index-check-concent{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-concent.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-concent:hover{
		background-color: #E2EDF9;
	}

	.index-check-speak{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-speak.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-speak:hover{
		background-color: #E2EDF9;
	}
	
	.index-check-bright{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-bright.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-bright:hover{
		background-color: #E2EDF9;
	}

	.index-check-dark{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-dark.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-dark:hover{
		background-color: #E2EDF9;
	}

	.index-check-pet{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-pet.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-pet:hover{
		background-color: #E2EDF9;
	}

	.index-check-smoke{
		display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
	}

	.index-check-smoke.isActive{
		background: linear-gradient(45deg,#bdb9ff,#67b8ff);
		color: #000;
	}

	.index-check-smoke:hover{
		background-color: #E2EDF9;
	}

	.hidden{
		display: none;
	}
.search-form {
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 40%;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 20%;
}
/*ログイン中の背景*/
.back-img{
	width: 100vw;
	height: auto;
  background-image: image-url("cafein.jpeg");
	background-size: cover;
}

.grad-index{
	width: 100vw;
	height: 130vh;
	background-color: rgba(122, 122, 122, 0.377);
}