/*いいねランキング*/
.like-top{
 width: 100vw;
 height: 120vh;
 text-align: center;
}

.like-image{
  background-image: url(cafein.jpeg);
  background-size: cover;
  width: 100vw;
  height: 120vh;
}
.like-rank{
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 10px;
  
}
.like-index{
  width: 70vw;
  height: 100vh;
  color:white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-size: 100%;
  overflow-y: scroll;
  margin-top: 15px;
  margin-left: 200px;
  font-size: 15px;
}

.like-index-grad{
  width: 100vw;
	height: 120vh;
	background-color: rgba(209, 207, 205, 0.253);
}

.likes-rank{
  margin: auto;
	width: 50vw;
	height: auto;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .6s;
	padding: 10px;
}

.likes-rank:hover{
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-7px);
}

.images-rank-list{
  width: 30vw;
  height: auto;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin:auto;
}

.images-likes{
 margin: auto;
 display: inline-flex;
 flex-direction: column;
}

.rank{
  font-size: 20px;
}

.back-btn-rank{
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}