.new-main{
  height:auto;
  width:100vw;
  color: black;
  display: flex;
  justify-content: center;
  background-image: image-url("cafein.jpeg");
  background-size: cover;
}


.new-main-side{
  background-color: rgba(255, 255, 255, 0.342);
  display: flex;
  padding: 15px;
}

.cafe-new-main{
  text-align: center;
  overflow-x: scroll;
  height: 50vh;
  display: flex;
  flex-direction: column;
}


#image-list{
  display: inline-flex;
  width: 20vw;
  height: 30vh;
  justify-content: center;
  }

  #cafe-image{
    margin: auto;
    display: flex;
  }
  
  .images{
    height: auto;
    width: auto;
  }
  
  img{
    max-width:30vw;
    height:auto;
    display:flex;
  }
  

.cafe-new-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weight-cafe-text{
  font-size: 15px;
  text-align: center;
}
.span{
  color: red;
}

.cafe-images{
  text-align: center;
  font-size: 15px;
}

.cafe-text-name{
  color: black;
  font-size: 14px;
  width: 50%;
  margin: auto;
}

.cafe-text-name::placeholder{
  color: gray;
}

.cafe-text{
  color: black;
  height: 30vh;
  width: 50%;
  margin: auto;
  font-size: 14px;
}

.cafe-text::placeholder{
  color: gray;
}

.cafe-new-check{
  font-size: 15px;
}

.cafe-check{
  margin-top: 5px;
	display: flex;
}

.cafe-checkbox{
  margin-right: 90px;
}

.cafe-addres-map{
  width: 70%;

  font-size: 15px;
}

.cafe-address{
text-align: center;
}

.address-text{
  font-size: 15px;
  margin: 5px; 
}

#map {
  height: 300px;
  width: 70%;
  margin:auto
}

.cafe-buttton{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin: 5px;
  height: auto;
 width: 100%;
}



.back-btn{
  background: rgb(97, 97, 97); 
  color: #fff; 
  padding: 10px 30px; 
  text-decoration: none; 
  border-radius: 30px; 
  font-size: 15px;
  transition-property: opacity;
 -webkit-transition-property: opacity;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  margin-left: 30px;
}


.back-btn:hover {
  color: #fff;
}


.sell-btn{
  background: rgb(97, 97, 97); 
  color: #fff; 
  padding: 10px 30px; 
  text-decoration: none; 
  border-radius: 30px; 
  font-size: 15px;
  transition-property: opacity;
 -webkit-transition-property: opacity;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
}

.sell-btn:hover {
  color: #fff;
}
