.cafe-show{
  width: 100vw;
  height: auto;
  text-align: center;
  color: white;
  background-image: image-url("cafein.jpeg");
  background-size: cover;
}

.cafe-show-grad{
  width: 100vw;
	height: auto;
	background-color: rgba(85, 83, 83, 0.164);
}

.cafe-show-main{
  width: 65%;
  height: auto;
  margin: auto;
  padding: 10px 0;
}

.cafe-show-image{
  width:40%;
  display: inline-flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.cafe-show-item{
 text-align: center;
 margin: auto;
 width: 70%;
}

.cafe-show-address{
  text-align: center;
  margin: auto;
  width: 70%;
  font-size: 20px;
}


.cafe-show-drink_name{
  width: auto;
  height: 30%;
  text-align: center;
  font-size: 20px;
}

.cafe-show-text{
  margin: auto;
  width: 50%;
  height: 40vh;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
}

.cafe-img-box{
  width: 25vw;
  height: 33vh;
}

#show_map{
  display: inline-flex;
  justify-content: center;
  height: 320px;
  width: 70%;
  margin-top: 10px;
}

.cafe-show-checkbox{
  display: none;
}


.show-check-wifi{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-wifi.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}


.show-check-oshare{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-oshare.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-shizuka{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-shizuka.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-concent{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-concent.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-speak{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-speak.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-bright{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-bright.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-dark{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-dark.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-pet{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-pet.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.show-check-smoke{
	display: block; 
    float: left; 
    width: 60px;
    height: 40px; 
    text-align: center; 
    line-height: 45px; 
    padding-left: 5px; 
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid #006DD9;
    border-radius: 5px; 
}

.show-check-smoke.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}

.cafe-edit{
  font-size:20px;
  margin: 0 10px;
  text-decoration: none;
  color:white;
}

.cafe-destroy{
font-size: 20px;
margin: 0 25px;
text-decoration: none;
color: white;
}

.back-btn-show{
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

