@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background:hsl(0, 7%, 76%);

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: 100%;
	height: auto;
	background-image: url(cafe.jpeg);
	background-size: cover;
	-webkit-filter: blur(3px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51, 49, 49, 0)), color-stop(100%,rgba(51, 40, 40, 0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top:  calc(40% - 75px);
	left: calc(60% - 180px);
	z-index: 2;
}

.header div{
	font-family: fantasy;
	font-size: 50px;
	font-weight: 200;
	text-shadow: 10px 10px 10px black;
}

.header div span{
	color:snow;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(45% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login-email{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login-pass{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login-button{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login-button :hover{
	opacity: 0.8;
}

.login-button :active{
	opacity: 0.6;
}

.login-email :focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login-pass :focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login-button :focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.sign-body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(coffee.jpeg);
	background-size: cover;
	-webkit-filter: blur(3px);
	z-index: 0;
}

.sign-header{
	position: absolute;
	top:  calc(20% - 75px);
	left: calc(60% - 180px);
	z-index: 2;
}

.sign-header div{
	font-family: fantasy;
	font-size: 50px;
	font-weight: 200;
	text-shadow: 10px 10px 10px black;
}

.sign-header div span{
	color:snow;
}

.signin{
	position: absolute;
	top: calc(30% - 75px);
	left: calc(40% - 50px);
	height: 540px;
	width: 450px;
	padding: 15px;
	z-index: 2;
	overflow:auto;
	border: 2px solid white;
	box-shadow: 10px 10px 10px 10px black;
}

.form-group{
	width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.text-form-top{
	width: 100%;
  height: 20%;
}

.form-text{
	font-size: 20px;
  font-weight: bold;
}

.mandatory{
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.sign-form{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
}

.input-name{
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sign-name{
	width: 200px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.input-birth{
  display: flex;
  flex-wrap: wrap;
}

.input-birth select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.register-red-btn {
  width: 100%;
  background: gray;
  border: 1px solid gray;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
