.like-title{
  font-size: 20px;
  color: white;
  background-image: image-url("cafein.jpeg");
  text-align: center;
  background-size: cover;
}

.user-like-index{
  background-size: cover;
  width: 100vw;
  height: 130vh;
  font-size: 20px;
  display: flex;
  flex-wrap:wrap;
}

.images-like{
  display:inline-flex;
	width: 22vw;
	height: 30vh;
}

.like-user-main{
  height:35vh;
  width: 30vw;
  margin-top: 10px;
}

.like-drink-name{
margin-bottom: 10px;
}

.like-user-image{
  width: 22vw;
  height: 30vh;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  box-shadow: 10px -10px 20px rgb(19, 18, 18);
}

.back-btn-like{
  font-size: 20px;
  text-decoration: none;
  color:white;
}